In [1]:
import pandas as pd
import numpy as np

#video game data source 1
vg = pd.read_csv('vgsales.csv')
def get_shape_and_column(vg):
    data = pd.DataFrame(data=vg)
    return data

In [2]:
get_shape_and_column(vg)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
vg["Game Title"] = vg["Name"]
get_shape_and_column(vg)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Game Title
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Wii Sports
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Super Mario Bros.
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Mario Kart Wii
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Wii Sports Resort
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Pokemon Red/Pokemon Blue
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,Woody Woodpecker in Crazy Castle 5
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,Men in Black II: Alien Escape
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,SCORE International Baja 1000: The Official Game
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,Know How 2
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,Spirits & Spells

In [4]:
#video game data source 2
vg2 = pd.read_csv('Video Games Sales.csv')
def get_shape_and_column(vg2):
    data = pd.DataFrame(data=vg2)
    return data

In [5]:
get_shape_and_column(vg2)

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,1902,1903,Lizzie McGuire 2: Lizzie Diaries,GBA,2004.0,Action,Disney Interactive Studios,0.60,0.22,0.00,0.01,0.83,55.00
1903,1903,1904,Xenoblade Chronicles,Wii,2010.0,Role-Playing,Nintendo,0.39,0.22,0.16,0.07,0.83,91.74
1904,1904,1905,SingStar Abba,PS3,2008.0,Misc,Sony Computer Entertainment,0.25,0.44,0.00,0.14,0.83,73.00
1905,1905,1906,FIFA Soccer World Championship,PS2,2000.0,Sports,Electronic Arts,0.27,0.21,0.28,0.07,0.83,73.00
1906,1906,1907,WWE SmackDown vs. Raw 2011,X360,2010.0,Fighting,THQ,0.42,0.32,0.00,0.09,0.83,82.00

In [6]:
#show what columns vg and vg2 have in common
vg["Rank1"] = vg["Rank"]
vg2["Rank2"] = vg2["Rank"]
column_names=[]
for column in vg:
    if column in vg2:
        column_names.append(column)
print(column_names)

['Rank', 'Platform', 'Year', 'Genre', 'Publisher', 'Game Title']

In [7]:
#merge vg and vg2 based on columns Game Title, Year and Platform to ensure data is merged with the proper row(some games have the same name released different years with different sales data)
import numpy as np
df = pd.merge(vg, vg2, on=["Game Title","Year","Platform"],suffixes=('', '_remove'))
df.drop([i for i in df.columns if 'remove' in i],
               axis=1, inplace=True)
#drop duplicate columns that represent the same data under different column names(example Name and Game Title)
df.drop('Name', axis=1, inplace=True)
df.drop('index', axis=1, inplace=True)
#Rank to be an average of both ranks
cols = ['Rank1','Rank2']
df['Rank'] = df[cols].astype(float).mean(axis=1)
df['Rank'] = df['Rank'].astype(int)

In [8]:
#checking column data types to help with formatting(example get rid of decimals in year by changing to int)
df['Year'] = df['Year'].astype("Int64")
print(df.dtypes)

Rank               int32
Platform          object
Year               Int64
Genre             object
Publisher         object
NA_Sales         float64
EU_Sales         float64
JP_Sales         float64
Other_Sales      float64
Global_Sales     float64
Game Title        object
Rank1              int64
North America    float64
Europe           float64
Japan            float64
Rest of World    float64
Global           float64
Review           float64
Rank2              int64
dtype: object

In [9]:
#just checking
df.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Game Title,Rank1,North America,Europe,Japan,Rest of World,Global,Review,Rank2
0,1,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Wii Sports,1,40.43,28.39,3.77,8.54,81.12,76.28,1
1,2,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Super Mario Bros.,2,29.08,3.58,6.81,0.77,40.24,91.00,2
2,3,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Mario Kart Wii,3,14.50,12.22,3.63,3.21,33.55,82.07,3
3,4,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Wii Sports Resort,4,14.82,10.51,3.18,3.01,31.52,82.65,4
4,5,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,Tetris,6,23.20,2.26,4.22,0.58,30.26,88.00,5

In [10]:
#Averaging Sales
cols = ['NA_Sales','North America']
df['NA_avg'] = df[cols].astype(float).mean(axis=1)


cols = ['EU_Sales','Europe']
df['EU_avg'] = df[cols].astype(float).mean(axis=1)


cols = ['JP_Sales','Japan']
df['JP_avg'] = df[cols].astype(float).mean(axis=1)


cols = ['Other_Sales','Rest of World']
df['Other_avg'] = df[cols].astype(float).mean(axis=1)


cols = ['Global_Sales','Global']
df['Global_avg'] = df[cols].astype(float).mean(axis=1)

In [11]:
df.sort_values(by=['Rank'])

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,Japan,Rest of World,Global,Review,Rank2,NA_avg,EU_avg,JP_avg,Other_avg,Global_avg
0,1,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,...,3.77,8.54,81.12,76.28,1,40.960,28.705,3.77,8.500,81.930
1,2,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,...,6.81,0.77,40.24,91.00,2,29.080,3.580,6.81,0.770,40.240
2,3,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,...,3.63,3.21,33.55,82.07,3,15.175,12.550,3.71,3.260,34.685
3,4,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,...,3.18,3.01,31.52,82.65,4,15.285,10.760,3.23,2.985,32.260
4,5,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,...,4.22,0.58,30.26,88.00,5,23.200,2.260,4.22,0.580,30.260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1827,6745,PC,1998,Strategy,Activision,0.00,0.04,0.00,0.01,0.05,...,0.00,0.00,3.73,93.00,260,1.855,0.025,0.00,0.005,1.890
1826,6748,PC,2005,Simulation,Electronic Arts,0.01,0.04,0.00,0.01,0.06,...,0.00,0.00,1.70,81.11,823,0.845,0.030,0.00,0.005,0.880
1829,6866,PC,<NA>,Strategy,Microprose,0.02,0.02,0.00,0.01,0.04,...,0.00,0.00,3.83,87.00,254,1.920,0.015,0.00,0.005,1.935
1830,7503,PC,1992,Shooter,id Software,0.02,0.00,0.00,0.00,0.03,...,0.00,0.13,2.85,80.16,404,0.815,0.560,0.00,0.065,1.440
477,8390,PS3,2012,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01,...,0.00,0.18,2.04,71.00,651,0.880,0.055,0.00,0.090,1.025

In [12]:
#droping columns used to average
df.drop('NA_Sales', axis=1, inplace=True)
df.drop('EU_Sales', axis=1, inplace=True)
df.drop('JP_Sales', axis=1, inplace=True)
df.drop('Other_Sales', axis=1, inplace=True)
df.drop('Global_Sales', axis=1, inplace=True)
df.drop('Rank1', axis=1, inplace=True)
df.drop('Rank2', axis=1, inplace=True)
df.drop('North America', axis=1, inplace=True)
df.drop('Europe', axis=1, inplace=True)
df.drop('Japan', axis=1, inplace=True)
df.drop('Rest of World', axis=1, inplace=True)
df.drop('Global', axis=1, inplace=True)

#and redoing rank so it matches the index number
df['Rank_avg'] = df.index + 1
df.drop('Rank', axis=1, inplace=True)
display(df)

,Platform,Year,Genre,Publisher,Game Title,Review,NA_avg,EU_avg,JP_avg,Other_avg,Global_avg,Rank_avg
0,Wii,2006,Sports,Nintendo,Wii Sports,76.28,40.960,28.705,3.77,8.500,81.930,1
1,NES,1985,Platform,Nintendo,Super Mario Bros.,91.00,29.080,3.580,6.81,0.770,40.240,2
2,Wii,2008,Racing,Nintendo,Mario Kart Wii,82.07,15.175,12.550,3.71,3.260,34.685,3
3,Wii,2009,Sports,Nintendo,Wii Sports Resort,82.65,15.285,10.760,3.23,2.985,32.260,4
4,GB,1989,Puzzle,Nintendo,Tetris,88.00,23.200,2.260,4.22,0.580,30.260,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1826,PC,2005,Simulation,Electronic Arts,The Sims 2: University,81.11,0.845,0.030,0.00,0.005,0.880,1827
1827,PC,1998,Strategy,Activision,StarCraft,93.00,1.855,0.025,0.00,0.005,1.890,1828
1828,PC,2000,Simulation,Electronic Arts,The Sims,89.80,5.615,0.020,0.00,0.005,5.640,1829
1829,PC,<NA>,Strategy,Microprose,RollerCoaster Tycoon,87.00,1.920,0.015,0.00,0.005,1.935,1830
1830,PC,1992,Shooter,id Software,Doom,80.16,0.815,0.560,0.00,0.065,1.440,1831

In [13]:
#last but not least reorder columns
df1=df[df.columns[[11,5,1,2,3,4,6,7,8,9,10]]]

In [14]:
#new csv file
vgames_data = df1.to_csv('vgames_data.csv', index = True)
print('\nCSV String:\n', vgames_data)

CSV String:
 None